<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Apollo.AppId" value="SampleApp,ree"/>
    <add key="Apollo.MetaServer" value="http://localhost:8080" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>